<template>
	<v-container grid-list-lg>
		<v-layout wrap column>
		<v-flex>
			<v-card class="logo">
				<img src="../assets/logo.png" alt="">
			</v-card>
		</v-flex>
		<v-flex>
			<v-card>
				<v-navigation-drawer
					floating
					permanent
				>
					<v-list
						dense
						rounded
					>
						<v-list-item
							v-for="item in items"
							:key="item.title"
							link
						>
							<v-list-item-icon>
								<v-icon>{{ item.icon }}</v-icon>
							</v-list-item-icon>

							<v-list-item-content>
								<v-list-item-title>{{ item.title }}</v-list-item-title>
							</v-list-item-content>
						</v-list-item>
					</v-list>
				</v-navigation-drawer>
			</v-card>
		</v-flex>
	</v-layout>
	</v-container>
</template>
<style lang="scss" scoped>
	.logo {
		height: 256px;
		border-radius: 50%;
		overflow: hidden;
		img{
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
</style>
<script>
    export default {
        data() {
            return {
                items: [
                    {
                        title: 'Team',
                        icon: 'dashboard',
                        href: ''
                    },
                    {
                        title: 'Contestants',
                        icon: 'mdi-account',
                        href: ''
                    },
                    {
                        title: 'Contests',
                        icon: 'question_answer',
                        href: ''
                    },
                    {
                        title: 'Message',
                        icon: 'question_answer',
                        href: ''
                    },
                    {
                        title: 'MaterialSecurity',
                        icon: 'question_answer',
                        href: ''
                    },
                ],
            }
        },
    }
</script>

<style scoped>

</style>
