<template>
	<v-app>
		<v-app-bar app>
			<v-toolbar-title class="headline text-uppercase">
				<span>Vuetify</span>
				<span class="font-weight-light">MATERIAL DESIGN</span>
			</v-toolbar-title>
			<v-spacer></v-spacer>
			<v-btn
				text
				href="https://github.com/vuetifyjs/vuetify/releases/latest"
				target="_blank"
			>
				<span class="mr-2">Latest Release</span>
			</v-btn>
		</v-app-bar>

		<v-content>
			<v-container>
				<v-layout>
					<v-flex shrink>
						<LeftMenu/>
					</v-flex>
					<v-flex>
						<Content/>
					</v-flex>
				</v-layout>
			</v-container>
		</v-content>
	</v-app>
</template>

<script>
    import Content from './components/content/Content';
    import LeftMenu from "./components/LeftMenu";

    export default {
        name: 'App',
        components: {
            LeftMenu,
            Content,
        },
        data: () => ({
            //
        }),
    };
</script>
