<template>
	<v-form v-model="valid">
		<v-container grid-list-lg fluid>
		<v-layout wrap>
			<v-flex xs12 md3>
				<v-card>
					<Photo/>
				</v-card>
			</v-flex>
			<v-flex xs12 md9>
				<Info/>
			</v-flex>
			<v-flex xs12>
				<Location/>
			</v-flex>
			<v-flex xs12>
				<Trainers/>
			</v-flex>
			<v-flex xs12>
				<Progress/>
			</v-flex>
		</v-layout>
	</v-container>
	</v-form>
</template>

<script>
	import Photo from './Photo'
	import Info from './Info'
	import Location from './Location'
    import Trainers from "./Trainers";
    import Progress from "./Progress";

    export default {
        data(){
            return {
                valid: false,
            }
        },
        components: {
            Progress,
            Trainers,
			Photo,
			Info,
			Location
        },
    };
</script>
