<template>
	<v-card>
		<v-container grid-list-md>
		<v-layout wrap>
			<v-flex xs12 sm6 md4>
				<v-text-field
					label="First name*"
					required
				>
				</v-text-field>
			</v-flex>
			<v-flex xs12 sm6 md4>
				<v-text-field
					label="Phone*"
					required
				>
				</v-text-field>
			</v-flex>
			<v-flex xs12 sm6 md4>
				<v-text-field
					v-model="email"
					:rules="emailRules"
					label="E-mail"
				></v-text-field>
			</v-flex>
			<v-flex xs12 sm6 md8>
				<v-text-field
					label="Contact person*"
					required
				>
				</v-text-field>
			</v-flex>
			<v-flex xs12 sm6 md4>
				<v-text-field
					label="Post*"
					required
				>
				</v-text-field>
			</v-flex>
		</v-layout>
	</v-container>
	</v-card>
</template>

<script>
    export default {
        name: "Profile",
		data(){
			return{
				firstname: '',
				lastname: '',
				email: '',
				emailRules: [
					v => !!v || 'E-mail is required',
					v => /.+@.+/.test(v) || 'E-mail must be valid',
				],
			}
		}
    }
</script>

<style scoped>

</style>
