<template>
	<v-card>
		<v-toolbar
			dark
			class="deep-purple accent-4"
		>
			<v-toolbar-title>
				Administrative address
			</v-toolbar-title>
			<v-spacer></v-spacer>

		</v-toolbar>
		<v-card-text>
			<v-container grid-list-md>
				<v-layout wrap>
					<v-flex xs12 sm6 md3>
						<v-select
							:items="items"
							:rules="[v => !!v || 'Item is required']"
							label="Region"
							required
						></v-select>
					</v-flex>
					<v-flex xs12 sm6 md4>
						<v-select
							:items="items"
							:rules="[v => !!v || 'Item is required']"
							label="City"
							required
						></v-select>
					</v-flex>
					<v-flex xs12 sm6 md5>
						<v-select
							:items="items"
							:rules="[v => !!v || 'Item is required']"
							label="Village"
							required
						></v-select>
					</v-flex>
					<v-flex xs12 sm6 md3>
						<v-text-field
							label="Quarter"
						>
						</v-text-field>
					</v-flex>
					<v-flex xs12 sm6 md4>
						<v-text-field
							label="Street"
						>
						</v-text-field>
					</v-flex>
					<v-flex xs12 sm2 md1>
						<v-text-field
							label="Number"
						>
						</v-text-field>
					</v-flex>
					<v-flex xs12 sm2 md1>
						<v-text-field
							label="Block"
						>
						</v-text-field>
					</v-flex>
					<v-flex xs12 sm2 md1>
						<v-text-field
							label="Entrance"
						>
						</v-text-field>
					</v-flex>
					<v-flex xs12 sm2 md1>
						<v-text-field
							label="Floor"
						>
						</v-text-field>
					</v-flex>
					<v-flex xs12 sm2 md1>
						<v-text-field
							label="Ap"
						>
						</v-text-field>
					</v-flex>
				</v-layout>
			</v-container>
		</v-card-text>
	</v-card>
</template>

<script>
    export default {
        name: "Location",
		data(){
			return{
				select: null,
                items: [
                    'Item 1',
                    'Item 2',
                    'Item 3',
                    'Item 4',
                ],
			}
		}
    }
</script>

<style scoped>

</style>
